@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

main {
  max-width: 960px;
  margin: 0 auto 0 auto;
}

header {
  background: #f4f4f4;
  text-align: center;
  padding: 2em;
}

header img {
  max-width: 96px;
}

header h1 {
  font-size: 2.5em;
}

h1, h2 {
  text-align: center;
}

/* FORM */
label {
  display: block;
  margin-bottom: 0.5em;
}

.new-member-form {
  margin: 2em 0 4em 0;
  text-align: center;
}

.new-member-form input {
  color: #f76c6c;
  border: solid 1px #f76c6c;
  font-size: larger;
  border-radius: 5px;
}

.new-member-form input::placeholder {
  color: #ffadad;
}

.submit-btn {
  cursor: pointer;
  color: #fff;
  background-color: #f76c6c;
  border: none;
  padding: 0.5em 1.25em;
  border-radius: 50px;
}

.submit-btn:hover {
  background-color: #fa4949;
}

/* LIST */

.member-list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.member-item {
  display: flex;
  justify-content: space-between;
  width: 80%;
  background-color: #fff;
  border: solid #f76c6c 1px;
  border-radius: 50px;
  box-shadow: 10px 5px 5px rgba(156, 154, 154, 0.733);
  margin: 2em auto 2em auto;
  padding: 1em;
}

.member-item span {
  font-size: 1.5em;
  color: #df5c5c;
}

svg {
  margin-top: 0.125em;
  width: 1.5em;
  height: 1.5em;
  fill: #f76c6c;
}

svg:hover {
  fill: #fa4949;
}

/* FOOTER */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  background: #f76c6c;
  padding: 0.25em 0;
}

/* MEDIA QUERIES */

@media screen and (max-width: 999px)
{
  .member-list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}

@media screen and (max-width: 650px)
{
  .member-list{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
}